{% load static %}
<html>
    <head>
        <title>Blog List</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
   </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div style="margin-bottom: 3.6%;">
               <a href="{% url 'post_new' %}" class="top-menu"> <p class="published" style="color: white">Write New</p><span class="fa fa-file-text"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><p class="published" style="color: white">Publish</p><span class="fa fa-plus-square"></span> </a>
                </div>
                <div>
                <h2 class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></h2>
                </div>
           {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="fa fa-sign-in"></span></a>
            {% endif %}
            <h1><a href="/">Django Blog Progra Comercial</a></h1>
        </div>
        <div class="content container">
    <div class="row">
        <div class="col-md-16">
               {% block content %}
            {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>